/****RESET STYLE******/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* LAYOUT */
body {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
  background-color: hsl(300, 80%, 15%);
  color: hsl(300, 80%, 98%);
  margin: 0;
}

.is--hidden {
  display: none;
}

.is--smallSVG {
  height: 5rem;
  padding-top: .1rem;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: hsl(300, 80%, 18%);
  padding-bottom: 2.5rem;
}

.header__title {
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 3rem 1rem 1.3rem 1rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 700px;
}

.form__input {
  color: hsl(300, 80%, 20%);
  background-color: hsl(300, 80%, 98%);
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  line-height: 1rem;
  font-size: 2rem;
  width: 70%;
  margin: 1rem 0;
  position: relative;
}

.form__input::placeholder {
  font-size: 1rem;
  color: hsl(300, 80%, 20%);
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
}

/* NEW ANIMAL STUFF */
.form__suggestions {
  list-style: none;
  color: hsl(300, 80%, 20%);
  background-color: hsl(300, 80%, 80%);
  position: absolute;
  margin-top: 70px;
  width: 70%;
  cursor: pointer;
  padding: 0;
}

.form__suggestions__item {
  padding: 1rem 0.5rem 1rem 2rem;
}

.form__suggestions__item:hover {
  background-color: hsl(300, 80%, 60%);
}

.form__suggestions__text {
  padding: 0;
}

/* SECTION FOR RESULTS */

.result {
  padding: 2rem;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result__title {
  text-transform: capitalize;
  text-align: center;
}

.result__list {
  list-style: none;
}

.result__item {
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.result__item:nth-last-child(2),
.result__item:nth-last-child(1) {
  font-weight: bold;
}
